// START:: VARIABLES
@import 'variables.scss';
// END:: VARIABLES

// START:: MIXINS
@import 'mixins.scss';
// END:: MIXINS

// START:: GLOBA AR STYLES
.form-check {
  padding-right: 1.25rem;
  .form-check-input {
    margin-right: -1.25rem;
  }
}

h2,
h3 {
  &::after {
    right: -70px;
  }
  &::before {
    right: -55px;
  }
}
// END:: GLOBA AR STYLES

// START:: LARGE SCREENS NAVBAR AR STYLES
nav {
  // START:: LANGUAGE BTN STYLE
  .lang-button {
    a {
      span {
        font-size: 16px;
        &.en {
          display: none;
        }
        &.ar {
          display: inline-block;
          margin-bottom: 3px;
          margin-inline-start: 3px;
        }
      }
    }
  }
  // END:: LANGUAGE BTN STYLE
}
// END:: LARGE SCREENS NAVBAR AR STYLES

// START:: PAGES AR STYLES
.services_sec {
  .service_wraper {
    a {
      h5 {
        border-left: none;
        border-right: 2px solid $deepRed;
      }
    }
  } 
}

.events_sec {
  .event_img_wraper {
    .event_date {
      right: -10%;
      left: auto;
    }
  }
}

.products_cats {
  .cats_wraper {
    a {
      h5 {
        border-right: 2px solid $deepRed;
        border-left: none;
      }
    }
  }
}

.story {
  padding: $paddingAmount 0;
  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .story_main_wraper {
    border-right: 2px solid $lighterGrey;
    border-left: none;
    .story_line {
      .date {
        right: -30px;
      }

      .story_content {
        h3 {
          text-align: start;
        }
      }
    } 
  }
}

.all_products {
  .product_details {
    a {
      h4 {
        border-right: 2px solid $deepRed;
        border-left: none;
      }
    }
  }
}

.product_info {
  .actions_wraper {
    .price {
      margin-inline-end: 8px;
    }
  }
}

.related_products {
  .owl-carousel {
    .item {
      a {
        h5 {
          padding-inline-start: 10px;
          border-right: 2px solid $deepRed;
          border-left: none;
        }
      }
    }
  }
}

.events_slider {
  .owl-carousel {
    .item {
      direction: rtl;
      .event_img_wraper {    
        .event_date {
          right: -10%;
          left: auto;
        }
      }
  
    }
  }
}

.all_events {
  .event_img_wraper {
    .event_date {
      right: -10%;
      left: auto;
    }
  }

  .event_text_wraper {
    .text_wraper {
      font-size: 18px;
      line-height: 1.6;
      color: $lightGrey;
      word-break: break-word;
      text-align: start;
    }
  }
}

.latest_news_slider {
  .owl-carousel {
    .item {
      direction: rtl;
    }
  }
}

.related_news_slider {
  padding: $paddingAmount;

  .header_wraper {
    @include flexCenterAlignment();
    h2 {
      @include mainHeaderStyle();
    }
  }

  .owl-carousel {
    .item {
      .card {
        .card-body {
          border-right: 2px solid $deepRed;
          border-left: none;
        }
      }
    }
  }

}

.all_news {
  .card {
    .card-body {
      border-right: 2px solid $deepRed;
      border-left: none;
    }
  }
}

.user_profile_menu {
  border-right: 2px solid $deepRed;
  border-left: none;
}
// END:: PAGES AR STYLES